In [27]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [ ]:
total_data_points = 3204
c1 = 3+5+40+506+96+27
c2 = 4+7+280+29+39+2
c3 = 1+1+1+7+4+671
c4 = 10+162+3+119+73+2
c5 = 331+22+5+70+13+23
c6 = 5+358+12+212+48+13

In [ ]:
data_points = c1+c2+c3+c4+c5+c6
data_points

In [ ]:
totalPurity = (c1/data_points)*0.7474+(c2/data_points)*0.7756+(c3/data_points)*0.9796+(c4/data_points)*0.4390+(c5/data_points)*0.7134+(c6/data_points)*0.5525

In [286]:
def clusterResult(numberOfClusters):
    a = []
    global cluster_label
    cluster_label = []
    for i in range(numberOfClusters):
        val = list(map(int, input("Enter your value and check if it's string otherwise typecast: " ).split(",")))
        a.append(val)
        cluster_label.append('Cluster '+str(i+1))
        
    cluster_label.append('Total')
    return a

In [287]:
cluster = clusterResult(6)

Enter your value and check if it's string otherwise typecast: 3,5,40,506,96,27
Enter your value and check if it's string otherwise typecast: 4,7,280,29,39,2
Enter your value and check if it's string otherwise typecast: 1,1,1,7,4,671
Enter your value and check if it's string otherwise typecast: 10,162,3,119,73,2
Enter your value and check if it's string otherwise typecast: 331,22,5,70,13,23
Enter your value and check if it's string otherwise typecast: 5,358,12,212,48,13

In [31]:
cluster = clusterResult(6)

Enter your value and check if it's string otherwise typecast: 3,5,40,506,96,27
Enter your value and check if it's string otherwise typecast: 4,7,280,29,39,2
Enter your value and check if it's string otherwise typecast: 1,1,1,7,4,671
Enter your value and check if it's string otherwise typecast: 10,162,3,119,73,2
Enter your value and check if it's string otherwise typecast: 331,22,5,70,13,23
Enter your value and check if it's string otherwise typecast: 5,358,12,212,48,13

In [289]:
cluster_label

['Cluster 1',
 'Cluster 2',
 'Cluster 3',
 'Cluster 4',
 'Cluster 5',
 'Cluster 6',
 'Total']

In [290]:
classes = ['Entertainment', 'Financial', 'Foreign', 'Metro', 'National', 'Sports']
cluster_with_total = cluster.copy()
df = pd.DataFrame(cluster_with_total)
class_total = pd.DataFrame.sum(df) # total in column or total of each class
class_total = class_total.tolist()
cluster_with_total.append(class_total)

In [291]:
df = pd.DataFrame(cluster_with_total,index = cluster_label,columns=classes)
cluster_total = df["Total"] = df.sum(axis=1) #total in row or total of each cluster 
cluster_total = cluster_total.tolist()
total_data_points = cluster_total.pop() #total of everything or total data points

In [292]:
df

           Entertainment  Financial  Foreign  Metro  National  Sports  Total
Cluster 1              3          5       40    506        96      27    677
Cluster 2              4          7      280     29        39       2    361
Cluster 3              1          1        1      7         4     671    685
Cluster 4             10        162        3    119        73       2    369
Cluster 5            331         22        5     70        13      23    464
Cluster 6              5        358       12    212        48      13    648
Total                354        555      341    943       273     738   3204

In [293]:
cluster_total[5]

648

In [294]:
import math

In [342]:
#entropy of each class
# i = cluster, j = class p_ij = m_ij/m_i
entropy_i = []
purity_i = []
for i in range(len(cluster)):
    e_i = 0
    p_ij_arr = []
    
    print("e"+str(i)+" = ", end = "")
    for j in range(len(classes)):
        m_ij =  cluster[i][j] # total number of values of each class in cluster i
        m_i = cluster_total[i] # total number of values of cluster i
        p_ij = m_ij/m_i #probability of class j being a member of cluster i
        p_ij = round(p_ij,4)
        p_ij_arr.append(p_ij)
        #writing the equation
        print(str(p_ij)+' log2(' +str(p_ij)+')',end = "+")
        print()
        e_i = e_i+(p_ij*math.log(p_ij,2))
    print()
    print()
    print(p_ij_arr)
    print()
    entropy_i.append(round(-e_i,4))
    purity_i.append(round(max(p_ij_arr),4))
    
    
print(entropy_i)
print(purity_i)

e0 = 0.0044 log2(0.0044)+
0.0074 log2(0.0074)+
0.0591 log2(0.0591)+
0.7474 log2(0.7474)+
0.1418 log2(0.1418)+
0.0399 log2(0.0399)+


[0.0044, 0.0074, 0.0591, 0.7474, 0.1418, 0.0399]

e1 = 0.0111 log2(0.0111)+
0.0194 log2(0.0194)+
0.7756 log2(0.7756)+
0.0803 log2(0.0803)+
0.108 log2(0.108)+
0.0055 log2(0.0055)+


[0.0111, 0.0194, 0.7756, 0.0803, 0.108, 0.0055]

e2 = 0.0015 log2(0.0015)+
0.0015 log2(0.0015)+
0.0015 log2(0.0015)+
0.0102 log2(0.0102)+
0.0058 log2(0.0058)+
0.9796 log2(0.9796)+


[0.0015, 0.0015, 0.0015, 0.0102, 0.0058, 0.9796]

e3 = 0.0271 log2(0.0271)+
0.439 log2(0.439)+
0.0081 log2(0.0081)+
0.3225 log2(0.3225)+
0.1978 log2(0.1978)+
0.0054 log2(0.0054)+


[0.0271, 0.439, 0.0081, 0.3225, 0.1978, 0.0054]

e4 = 0.7134 log2(0.7134)+
0.0474 log2(0.0474)+
0.0108 log2(0.0108)+
0.1509 log2(0.1509)+
0.028 log2(0.028)+
0.0496 log2(0.0496)+


[0.7134, 0.0474, 0.0108, 0.1509, 0.028, 0.0496]

e5 = 0.0077 log2(0.0077)+
0.5525 log2(0.5525)+
0.0185 log2(0.0185)+
0.3272 log2(0.3272)+
0.0741 log2(0.0741)+
0.0201 log2(0.0201)+


[0.0077, 0.5525, 0.0185, 0.3272, 0.0741, 0.0201]

[1.227, 1.147, 0.1819, 1.7484, 1.3977, 1.5523]
[0.7474, 0.7756, 0.9796, 0.439, 0.7134, 0.5525]

In [308]:
#Total Entropy
# i = cluster, j = class p_ij = m_ij/m_i
total_entropy = 0
cluster_index = 0 #cluster index
for val in cluster_total:
    m_i = val #total data points or values of each cluster
    m = total_data_points
    total_entropy = total_entropy+((m_i/m)*entropy_i[cluster_index])
    cluster_index+=1
    
print(total_entropy)

1.1450236579275905

In [309]:
#Total Purity
# i = cluster, j = class p_ij = m_ij/m_i

total_purity = 0
cluster_index = 0 #cluster index

for val in cluster_total:
    m_i = val #total data points or values of each cluster
    m = total_data_points
    total_purity = total_purity+((m_i/m)*purity_i[cluster_index])
    cluster_index+=1
    
print(total_purity)

0.7203607990012484

In [310]:
# now lets add the grand total to both entropy and purity
entropy_i.append(round(total_entropy,4))
purity_i.append(round(total_purity,4))

In [312]:
purity_i

[0.7474, 0.7756, 0.9796, 0.439, 0.7134, 0.5525, 0.7204]

In [313]:
df['Entropy'] = entropy_i
df['Purity'] = purity_i

In [314]:
df

,Entertainment,Financial,Foreign,Metro,National,Sports,Total,Entropy,Purity
Cluster 1,3,5,40,506,96,27,677,1.2270,0.7474
Cluster 2,4,7,280,29,39,2,361,1.1472,0.7756
Cluster 3,1,1,1,7,4,671,685,0.1813,0.9796
Cluster 4,10,162,3,119,73,2,369,1.7487,0.4390
Cluster 5,331,22,5,70,13,23,464,1.3976,0.7134
Cluster 6,5,358,12,212,48,13,648,1.5523,0.5525
Total,354,555,341,943,273,738,3204,1.1450,0.7204